@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Michroma-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: hsl(192, 100%, 99%);
$color-2: hsl(191, 100%, 46%);
$color-3: hsl(198, 92%, 95%);
$color-4: hsl(0, 0%, 55%);
$black: hsl(0, 0%, 16%);
$red: hsl(0, 98%, 67%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $color-1;
    background: $color-2;
  }
}
html { 
  scroll-behavior: unset;
  height: 100vh;
}
a,
a:visited {
  color: $color-4;
}
body {
  font-family: $font-1;
  height: 95vh;
  padding: 5px;
  background-color: $color-1;
  color: $black;
  overflow: hidden;

  @media screen and (max-width: 430px){
    position: relative;
    max-width: 95vw;
    overflow-y: initial;
  }
}
main {
  position: relative;
}
.button {
  background: $color-3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
    color: $color-2;
  }
}
#root{
  display: flex;
  flex-direction: column;
}
header{
  height:50px;
}footer{
  height: 10vh;
}
footer{
  position: absolute;
  bottom: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}